@import '../partials/functions';

#all-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(to-px(300), 1fr));
    gap: to-px(20);
    padding: to-px(20);
    
}

.one-blog {
    background-color: var(--white-color);
    border-radius: to-px(8);
    box-shadow: 0 to-px(4) to-px(8) rgba(0, 0, 0, 0.1);
    padding: to-px(20);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.one-blog:hover {
    transform: translateY(to-px(-5));
    box-shadow: 0 to-px(6) to-px(12) var(--text-content-color);
}

.edit-icon {
    position: absolute;
    top: to-px(10);
    right: to-px(10);
    display: flex;
    gap: to-px(10);
}

.edit-icon a {
    color: var(--blue-color);
    text-decoration: none;
}

.edit-icon a:hover {
    color: var(--blue-color);
}

.edit-icon .link-danger {
    color: var(--red-color);
}

.edit-icon .link-danger:hover {
    color: var(--red-color);
}

.blog-title h4 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: to-px(10);
}

.article-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: to-px(20);
    overflow-wrap: break-word; 
    white-space: normal; 
    word-break: break-word;
}

.blog-date {
    font-size: 0.875rem;
    color: #999;
    text-align: right;
}

