.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: to-px(10);
}

.button-group a {
    text-align: center;
    text-decoration: none; 
}

.button{
    height: to-px(30);
}

.button-primary {
    background-color: var(--button-bg-color);
    color: var(--white-text);
    padding: 0 to-px(10);
    border: none;
    border-radius: to-px(8);
    font-size: to-px(16);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    text-align: center;
}

.button-primary:hover {
    background-color: var(--button-bg-hover-color); 
    transform: translateY(to-px(-2));
}

.button-primary:active {
    transform: translateY(0);
}

.box-title{
    text-align: center;
}

.form-group {
    margin-bottom: to-px(15);
    display: flex;
    flex-direction: column;
}

.form-group label {
    flex: 0 0 to-px(15); 
    margin-right: to-px(10);
    font-weight: bold;
}

.input-form {
    width: 100%;
}

input{
    border: 0.2px solid;
    border-radius: to-px(5);
    margin-bottom: to-px(8);
    height: to-px(30);
    padding: to-px(2);
}


