#header.back-office-header {
    background-color: var(--header-color);
    padding: to-px(10) 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disconnect-button{
    align-self: flex-end;
    padding: to-px(20);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navbar ul li {
    margin: 0 to-px(15); 
}

.navbar ul li a {
    color: var(--white-color); 
    text-decoration: none;
    font-size: to-px(16);
    padding: to-px(10) to-px(20);
}

.navbar ul li a:hover {
    color: var(--black-color);
}

.navbar ul li:first-child a {
    font-size: to-px(22);
    font-weight: bold;
    padding: to-px(12) to-px(25); 
    border-radius: to-px(5);
}

.back-office-content {
    padding: to-px(20);
}

.btn-logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.btn-logout img {
    width: to-px(24);
    height: to-px(24);
}

.pages-title {
    color: var(--white-text); 
    font-weight: normal;
}

.pages-title.active {
    color: var(--black-color);
    font-weight: bold;
}
