:root {
    --button-bg-color: #0e932d; 
    --button-bg-hover-color: #41ec69;

    --white-text: white;
    --blue-color: #007bff;
    --red-color: #dc3545;
    --border: #ddd;
    --th-background: #f1f1f1;
    --text-content-color: rgba(0, 0, 0, 0.15);
}
